
.pagApp{
  width: 100%;
  height: 100%;
  display:none;
}
.backLogo{
  background-color: #FFB900;
}
.logo{
  text-align: center;
  padding: 0%;
}
.imgLogo{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50%;
}
/*para que carusel quede redondo*/
.carrusel{
  margin-top: 5%;
}
.carousel-indicators li {
  
  text-indent: 0;
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  color: #fff;
  background-color: #333333;
  transition: all 0.25s ease;
  
}
.carousel-indicators li.active, .carousel-indicators li:hover {
  margin: 0 2px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

/*Mapa*/
.mapParagraph{
  display: inline-block;
  padding: 0%;
  margin-bottom: 0%;
  margin-top: 5%;
 
}
.iconMap{
  width: 4%;
  
}
.titleMap{
  color: rgb(65, 65, 65);
  text-align: center;
	font-size: 13px;
	font-family:'Roboto', sans-serif;
  margin-top: 3px;
  font-weight: bold;
}
#mapa{
  width: 310px; 
  height: 350px;
  margin-left: 10px;
  margin-top: 0%;
}